[Desktop Entry]
Name=Deepcool Digital Linux
Exec=deepcool-desktop
Type=Application
Categories=Utility;
Icon=com.rgs.deepcool_linux
StartupWMClass=deepcool-desktop
